style {
  background-color: yellow;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block {
  background-color: coral;
  margin: 2px 2px 2px 2px;

  padding: 2px;
  border: 1px;
  border: radius 2px ;

  min-height: 230px;
}
.content {
  margin-left: 20px;
}
